stages:
  - deploy
#  - quality

deploy_staging:
  stage: deploy
  script:
    - cd /home/www/[project-path]
    - chmod 755 web/sites/default/
    - /usr/local/bin/php71 bin/drupal site:maintenance on
    - git pull
    - /usr/local/bin/php71 /usr/local/bin/composer install --no-dev
    - cd gulp
    - npm install
    - gulp sassprod
    - cd /home/www/[project-path]
    - /usr/local/bin/php71 bin/drupal updb
    - /usr/local/bin/php71 bin/drupal cr
    - /usr/local/bin/php71 bin/drupal site:maintenance off
  environment:
    name: staging
    url: [url-staging]
  only:
    - devel
  tags:
    - staging

# deploy_prod:
#  stage: deploy
#  script:
#    - cd /home/www/[project-path]
#    - ansible-playbook -i .deploy/inventory/hosts .deploy/playbooks/production/deploy.yml
#  environment:
#    name: production
#    url: [url-prod]
#  only:
#    - master
#  when: manual
#  tags:
#    - deploy

# sonarqube_preview_job:
#  stage: quality
#  allow_failure: true
#  variables:
#    CI_DEBUG_TRACE: "true"
#  only:
#    - devel
#  script:
#    - /home/sonar-scanner/bin/sonar-scanner -Dsonar.gitlab.project_id=$CI_PROJECT_PATH -Dsonar.gitlab.commit_sha=$CI_COMMIT_SHA -Dsonar.gitlab.ref_name=$CI_COMMIT_REF_NAME
#  tags:
#    - sonarqube
