////
/// @file
/// Customer theme base styles.
////

/// Better width/padding handling thanks to box-sizing
/// Uses inheritance so it can easily be overriden for specific components.
/// @see https://css-tricks.com/international-box-sizing-awareness-day/
/// @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/// Base font-size for html equates to 10px : allows using rem font-sizes everywhere by dividing / 10.
/// Ex : 2rem will equate to 20px.
html {
  font-size: 0.625em;
}

body {
  font-family: $ff-default;
  font-size: $fs-txt;
}
