////
/// @file
/// Define all extendables.
////

/// Resets link (<a>) styles.
%resetLink {
  display: block;
  color: inherit;
  text-decoration: none;
}

/// Resets button (<button>, <input>) styles.
%resetBtn {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  color: inherit;
  text-align: inherit;
  white-space: normal;
  box-shadow: none;
}

/// Sets full width for an image.
%fullImg {
  display: block;
  width: 100%;
  height: auto;
}
