////
/// @file
/// Define all mixins.
////

/// Media query definition.
/// @param {string} $screen - The breakpoint name. Must be a key of the $breakpoints map.
/// @example
///   .foo {
///     @include respondTo('small') {
///       color: #424242;
///     }
///   }
@mixin respond-to($screen, $additional:'') {

  $media: media-map-join(map-get($breakpoints, $screen));

  @if $media {
    @if $additional != '' {
      @media screen and #{$media}, #{$additional} {
        @content;
      }
    } @else {
      @media screen and #{$media} {
        @content;
      }
    }
  }
  @else {
    @error 'No "#{$screen}" breakpoint found in $breakpoint';
  }

}

/// Display icon using the before|after pseudo element.
/// @param {string} $icon - The icon content code (eg. from icomoon).
/// @param {length | percentage} $size - The icon size in rem|em|px|etc...
/// @param {string} $pseudoElement - The pseudo element to apply the icon to (before|after).
/// @example
///    .submit-button {
///      @include icon($i-submit);
///      // OR with custom content.
///      @include icon($i-submit) {
///        // add some specific CSS properties.
///      }
///    }
@mixin icon($icon, $size: 2.2rem, $pseudoElement: before) {

  &::#{$pseudoElement} {
    @extend %icon;
    display: inline-block;
    content: '#{$icon}';
    font-size: $size;
    @content;
  }

}

/// @font-face definitions.
/// @param {string} $name - The font-family name.
/// @param {url} $path - The files path (without the extension).
/// @param {string} $weight - The associated font-weight (normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900).
/// @param {string} $style - The associated font-style (normal | italic | oblique).
/// @param {list} $exts - The associated extensions.
/// @example
///    @include font-face(MyFont, "../font/my-font", bold, italic, eot woff ttf svg);
@mixin font-face($name, $path, $weight: normal, $style: normal, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?#iefix",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    eot: "embedded-opentype",
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    src: $src , $src;
    font-style: $style;
    font-weight: $weight;
  }
}


/// Define bulleted list style (square or round)
/// @param {string} $color - The bullet's color.
/// @param {string} $size  - The bullet's size (in px or em or other).
/// @param {bool} $top   - The bullet's top position (depends also on the line-height).
/// @example
///    @include bulleted-list($c-primary-A, 12px, .75em)
@mixin bulleted-list($color: currentColor, $size: 6px, $top: .6em) {
  & > li {
    position: relative;
    margin-left: 2em;

    &::before {
      content: '';
      position: absolute;
      top: $top;
      right: 100%;
      width: $size;
      height: $size;
      margin-right: .5em;
      border-radius: 50%;
      transform: translateY(-50%);
      background: $color;
      @content;
    }
  }
}

/// Define numbered list style
/// @param {string} $color - The number's color.
/// @example
///    @include numbered-list($c-primary-A)
@mixin numbered-list($color: inherit) {
  counter-reset: i;

  & > li {
    position: relative;
    margin-left: 2em;

    &::before {
      content: counter(i) '.';
      counter-increment: i;
      position: absolute;
      top: 0;
      right: 100%;
      margin-right: .25em;
      color: $color;
      @content;
    }
  }
}
