////
/// @file
/// Customer theme color variables.
////

/// Overrides and/or completes the ecedi color definitions.
$c-purple-800: #370e74;

$c-green-600: #0a705a;

$c-red-400: #C00000;

$c-grey-400: #eee;
$c-grey-900: #111;

/// Overrides and/or completes the ecedi default colors.
$c-primary-A: $c-purple-800;
$c-primary-B: $c-green-600;

$c-secondary-A: $c-red-400;

$c-border: $c-grey-400;

$c-txt-A: $c-grey-900;
