////
/// @file
/// Customer theme base styles.
////

/// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %title;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
