////
/// @file
/// Customer theme form styles.
////

/// Placeholder.
::placeholder {
  color: inherit;
  opacity: .8;
}

/// Inputs.
#{$inputs} {
  border: 1px solid;
  border-radius: 0;
  background: $c-white;
  color: $c-txt-A;
  &:hover,
  &:focus {

  }

  &:disabled {

  }
}
input[type="search"] {
  appearance: none; // for Safari
}
textarea {

}
select {

}

/// Buttons.
#{$buttons} {
  @extend %btn;
  @include btn-color;
  &:hover,
  &:focus {

  }

  &:disabled {

  }
}
