////
/// @file
/// Ecedi theme font variables.
////

/// Font-families
$ff-default: Arial, sans-serif !default;
$ff-title: Georgia, serif !default;
$ff-icon: 'icomoon', sans-serif !default;

/// Font-sizes
$fs-h1:  3.2rem !default;
$fs-h2:  2.8rem !default;
$fs-h3:  2.4rem !default;
$fs-h4:  2rem !default;
$fs-h5:  1.8rem !default;
$fs-h6:  1.6rem !default;
$fs-txt: 1.6rem !default;
